.cus-size{
    width: 90px;
}
.ip-size{
    width: 120px;
}

.width-size{
    width: 140px;
}

.padding-close{
    padding-right: 120px;
    padding-left: 120px;
    border-top-width: 20px;
    margin-bottom: 20px;
}