/* #data {
    height: 100%;
    width: 100%;
}

.display{
	display:none;
    padding:10px;
    margin-top:20px;
}

.chart {
    width: 100%; 
    min-height: 600px;
  } */

#dataP4 g text[text-anchor=middle]{
    font-size:"100";
}