{% extends 'layout.html' %}
{% block title %}Real-Time Charts{% endblock %}
{% block head %}
<script src="{{ url_for('static', filename='js/guage.js') }}"></script>
<link href="{{ url_for('static', filename='css/guage.css') }}" rel="stylesheet" />
{% endblock %}
{% block content %}

<div class="card">
    <h5 class="card-header d-flex justify-content-between bg-dark bg-gradient text-white">Status Machine
        <div class="select-wrapper mb-2 ">
            <select id="selectionGP" class="select select-initialized">
                <option value="" disabled selected>Choose Phase</option>
                <option value="all">All</option>
                <option value="P4">OP2 Phase 4</option>
                <option value="P5">OP2 Phase 5</option>
                <option value="P9">OP2 Phase 9</option>
            </select>
        </div>
    </h5>
    <div class="card-body">
        <!-- Phase -->

        <div class="p-1 mb-2 bg-dark bg-gradient text-white">
            <h2 class="text-center m-0" id="Phase4"></h2>
        </div>
        <div id="dataP4" class="display dataP4 ">
        </div>
        <div class="p-1 mb-2 bg-dark bg-gradient text-white">
            <h2 class="text-center m-0" id="Phase5"></h2>
        </div>
        <div id="dataP5" class="display dataP5"></div>
        <div class="p-1 mb-2 bg-dark bg-gradient text-white">
            <h2 class="text-center m-0" id="Phase9"></h2>
        </div>
        <div id="dataP9" class="display dataP9"></div>

<!-- Phase end -->
    </div>
</div>



{% endblock %}
{% block script %}
{% endblock %}
