{% extends 'layout.html' %}
{% block title %}Report DI{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<form action="{{ url_for('line') }}" method='POST'>
    <div class="select-wrapper mb-2 ">
      <select  id="selection_day" name="selection_day" class="select select-initialized">
        <option value="0" selected>Choose Day</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
    </select>
        <select  id="selection_month" name="selection_month" class="select select-initialized">
            <option value="" disabled selected>Choose Month</option>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>
        <select id="year" name="year" class="select select-initialized">
          <option value="" disabled selected>Choose Year</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
          <option value="2025">2025</option>
          <option value="2026">2026</option>
          <option value="2027">2027</option>
          <option value="2028">2028</option>
          <option value="2029">2029</option>
          <option value="2030">2030</option>
          <option value="2031">2031</option>
          <option value="2032">2032</option>
          <option value="2033">2033</option>
      </select>
      <button type="submit" class="sendButton btn btn-primary pt-1 pb-1" id="search">GO</button>
    </div>
  </form>
{% endblock %}
<script>
  $("#pickadate").flatpickr({
    onChange: function(selectedDates, dateStr, instance) {
          console.log(dateStr);
      },
    })
</script>
