{% extends 'layout.html' %}
{% block title %}TrendDi{% endblock %}
{% block head %}
<script src="{{ url_for('static', filename='js/line.js') }}"></script>
<!-- Include Required Prerequisites -->
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<!-- script pagination -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<!-- css pagination -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
<!-- DataTables date range filter -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/datetime/1.1.2/js/dataTables.dateTime.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/datetime/1.1.2/css/dataTables.dateTime.min.css" />
<!--End DataTables date range filter -->
{% endblock %}
{% block content %}
<div class="card">
  <div class="card-header  bg-dark bg-gradient text-white">
    <div class="row justify-content-lg-end">
      <div class="col-lg-5">
        <h5>Trend Deionized water</h5>
      </div>
      <div class="col-lg-7 d-flex justify-content-lg-end ">
        <!-- date range filter -->
        <table cellspacing="5" cellpadding="5">
          <tbody>
            <tr >
              <td><h5>Choose Date :</h5></td>
              <td><input type="text" class="form-control" id="min" name="min"></td>
              <td><h5>To</h5></td>
              <td><input type="text" class="form-control" id="max" name="max"></td>
            </tr>
          </tbody>
        </table>
      <!-- End date range filter -->
    </div>
    </div>
  </div>
    <div class="card-body">
        <div class="card">
            <div class="card-header bg-dark bg-gradient text-white d-flex justify-content-between">Phase4</div>
              <div class="card-body">
                  <div class="row">
                              <table class="display table align-middle mb-0 bg-white" id="P4">
                                  <thead class="bg-light">
                                    <tr>
                                      <th>Date</th>
                                      <th>Time</th>
                                      <th>Machine</th>
                                      <th>StatusDIWater</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for P4 in P4 %}
                                    <tr>
                                      <td>
                                        <p class="text-muted mb-0">{{ P4['Date'] }}</p>
                                      </td>
                                      <td>
                                        <p class="text-muted mb-0">{{ P4['Time'] }}</p>
                                      </td>
                                      <td>
                                        <p class="text-muted mb-0">{{ P4['Site'] }}</p>
                                      </td>
                                      <td>
                                        <p name="{{ P4['Site'] }}" class="mb-0 Status{{ P4['Site'] }}">Pass</p>
                                        <input type="hidden" name="data{{ P4['Site'] }}"  value="{{ P4['Water'] }}">
                                      </td>
                                    </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                    </div>
              </div>
          </div>
          <div class="card mt-3">
            <div class="card-header bg-dark bg-gradient text-white d-flex justify-content-between">Phase5
              
            </div>
              <div class="card-body">
                  <div class="row">
                              <table class="display table align-middle mb-0 bg-white" id="P5">
                                  <thead class="bg-light">
                                    <tr>
                                      <th>Date</th>
                                      <th>Time</th>
                                      <th>Machine</th>
                                      <th>StatusDIWater</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for P5 in P5 %}
                                    <tr>
                                      <td>
                                        <p class="text-muted mb-0">{{ P5['Date'] }}</p>
                                      </td>
                                      <td>
                                        <p class="text-muted mb-0">{{ P5['Time'] }}</p>
                                      </td>
                                      <td>
                                        <p class="text-muted mb-0">{{ P5['Site'] }}</p>
                                      </td>
                                      <td>
                                        <p name="{{ P5['Site'] }}" class="mb-0 Status{{ P5['Site'] }}">Pass</p>
                                        <input type="hidden" name="data{{ P5['Site'] }}"  value="{{ P5['Water'] }}">
                                      </td>
                                    </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                  </div>
              </div>
          </div>
          <div class="card mt-3">
            <div class="card-header bg-dark bg-gradient text-white d-flex justify-content-between">Phase9
            </div>
              <div class="card-body">
                  <div class="row">
                              <table class="display table align-middle mb-0 bg-white " id="P9">
                                  <thead class="bg-light">
                                    <tr>
                                      <th>Date</th>
                                      <th>Time</th>
                                      <th>Machine</th>
                                      <th>StatusDIWater</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for P9 in P9 %}
                                    <tr>
                                      <td>
                                        <p class="text-muted mb-0">{{ P9['Date'] }}</p>
                                      </td>
                                      <td>
                                        <p class="text-muted mb-0">{{ P9['Time'] }}</p>
                                      </td>
                                      <td>
                                        <p class="text-muted mb-0">{{ P9['Site'] }}</p>
                                      </td>
                                      <td>
                                        <p name="{{ P9['Site'] }}" class="mb-0 Status{{ P9['Site'] }}">Pass</p>
                                        <input type="hidden" name="data{{ P9['Site'] }}"  value="{{ P9['Water'] }}">
                                      </td>
                                    </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                    </div>
              </div>
          </div>
    </div>
  
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/trend-di.js') }}"></script>
<script>
  {% for P4script in P4 %}
  if ($( 'input[name="data{{ P4script['Site'] }}"]' ).val() > 12){
    $('p[name="{{ P4script['Site'] }}"]').text("Pass");
    $('p[name="{{ P4script['Site'] }}"]').addClass("text-success");
  } else if ((10 <= $( 'input[name="data{{ P4script['Site'] }}"]' ).val()) && ($( 'input[name="data{{ P4script['Site'] }}"]' ).val() < 12)) {
    $('p[name="{{ P4script['Site'] }}"]').text("Monitor");
    $('p[name="{{ P4script['Site'] }}"]').addClass("text-warning");
  } else if ($('input[name="data{{ P4script['Site'] }}"]' ).val() < 10) {
    $('p[name="{{ P4script['Site'] }}"]').text("Error");
    $('p[name="{{ P4script['Site'] }}"]').addClass("text-danger");
  }
  {% endfor %}
</script>
<script>
  {% for P5script in P5 %}
  if ($( 'input[name="data{{ P5script['Site'] }}"]' ).val() > 12){
    $('p[name="{{ P5script['Site'] }}"]').text("Pass");
    $('p[name="{{ P5script['Site'] }}"]').addClass("text-success");
  } else if ((10 < $( 'input[name="data{{ P5script['Site'] }}"]' ).val()) && ($( 'input[name="data{{ P5script['Site'] }}"]' ).val() < 12)) {
    $('p[name="{{ P5script['Site'] }}"]').text("Monitor");
    $('p[name="{{ P5script['Site'] }}"]').addClass("text-warning");
  } else if ($('input[name="data{{ P5script['Site'] }}"]' ).val() < 10) {
    $('p[name="{{ P5script['Site'] }}"]').text("Error");
    $('p[name="{{ P5script['Site'] }}"]').addClass("text-danger");
  }
  {% endfor %}
</script>
<script>
  {% for P9script in P9 %}
  if ($( 'input[name="data{{ P9script['Site'] }}"]' ).val() >= 12){
    $('p[name="{{ P9script['Site'] }}"]').text("Pass");
    $('p[name="{{ P9script['Site'] }}"]').addClass("text-success");
  } else if ((10 <= $( 'input[name="data{{ P9script['Site'] }}"]' ).val()) && ($( 'input[name="data{{ P9script['Site'] }}"]' ).val() < 12)) {
    $('p[name="{{ P9script['Site'] }}"]').text("Monitor");
    $('p[name="{{ P9script['Site'] }}"]').addClass("text-warning");
  } else if ($('input[name="data{{ P9script['Site'] }}"]' ).val() < 10) {
    $('p[name="{{ P9script['Site'] }}"]').text("Error");
    $('p[name="{{ P9script['Site'] }}"]').addClass("text-danger");
  }
  {% endfor %}
</script>
{% endblock %}