{% extends 'layout.html' %} {% block title %}View-Process{% endblock %} {% block
  head %}
  <!-- DataTable script -->
  <script
    type="text/javascript"
    src="https://code.jquery.com/jquery-3.5.1.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.datatables.net/datetime/1.1.2/js/dataTables.dateTime.min.js"
  ></script>
  <!-- DataTable css -->
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.datatables.net/datetime/1.1.2/css/dataTables.dateTime.min.css"
  />
      <!-- flatpickr -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
      <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  {% endblock %} {% block content %}
  <div class="card">
    <div class="card-header d-flex justify-content-between bg-dark bg-gradient text-white">
      <div class="col-lg-3 d-flex align-content-center flex-wrap">
        <h4 class="mb-0">All Process</h4>
      </div>
      <div class="col-lg-9 d-flex justify-content-lg-end ">
        <!-- date range filter -->
        <table cellspacing="5" cellpadding="5">
          <tbody>
            <tr >
              <form action="{{ url_for('viewProcess') }}" method='POST'>
              <td><h5 class="text-white mb-0">Choose Date :</h5></td>
              <td><input type="text" class="form-control" id="st_view_process" name="st_view_process"/></td>
              <td><h5 class="text-white mb-0">To</h5></td>
              <td><input type="text" class="form-control" id="end_view_process" name="end_view_process"/></td>
              <td>
                <button type="submit" class="btn btn-success"id="submit-p4" name="submit"> Submit </button>
              </td>
              </form>
            </tr>
          </tbody>
        </table>
        <!-- End date range filter -->
      </div>
    </div>
    <div class="card-body">
      <form>
        <a type="button" class="btn btn-success mb-3 Exp-view-process">
          <i class="fa fa-file-excel me-2"></i><span>generate excel</span>
        </a>
      <table class="table" id="view-process">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Department</th>
            <th scope="col">Position</th>
            <th scope="col">Part</th>
            <th scope="col">Start Date</th>
            <th scope="col">Time</th>
            <th scope="col">Finish Date</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for data in process %}
          <tr>
            <td>{{ data['Name'] }}</td>
            <td>{{ data['Department'] }}</td>
            <td>{{ data['position'] }}</td>
            <td>{{ data['part'] }}</td>
            <td>{{ data['Date'] }}</td>
            <td>{{ data['Time'] }}</td>
            <td>{{ data['Date_Finish'] }}</td>
            <td>{{ data['Detail'] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </form>
    </div>
  </div>
  {% endblock %} {% block script %}
  <script>
    $(document).ready(function () {
      var st_view_process = '';
      var end_view_process = '';
    $("#st_view_process").flatpickr({
      onChange: function(selectedDates, dateStr, instance) {
        st_view_process = dateStr;
        console.log(st_view_process)
        },
      });
    $("#end_view_process").flatpickr({
      onChange: function(selectedDates, dateStr, instance) {
        end_view_process = dateStr;
        // console.log(end_view_process)
        },
      });
      console.log(st_view_process)
      console.log(end_view_process)
    $(".Exp-view-process" ).click(function() {
      window.location.href=`export_log_Maintain?startdate={{ startdate }}&enddate={{ enddate }}`;
      console.log()
      })
     });
  </script>
  <script>
    $(document).ready(function(){
      $("#st_view_process").change(function(){
        alert("The text has been changed.");
      });
    });
    </script>
  <script>
    $(document).ready(function () {
      $("#view-process").DataTable();
    });
  </script>
  <script>
    {% for mainsc in maintain %}
    if ("{{ mainsc['Status_Di'] }}" === "M"){
      $("#{{ mainsc['Site'] }}").text("Monitor");
    } else if ("{{ mainsc['Status_Di'] }}" === "L"){
      $("#{{ mainsc['Site'] }}").text("Low");
    } else if ("{{ mainsc['Status_Di'] }}" === "E"){
      $("#{{ mainsc['Site'] }}").text("Error");
    }
    {% endfor %}
  </script>
  <script>
  $( ".Edit" ).click(function() {
    window.open("edit_maintain?edit_maintain=" + $(this).val(), "_blank", 
    "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=300,width=800,height=500");
    console.log($(this).val())
  })
  $( ".Show" ).click(function() {
    window.open("popup-process?show=" + $(this).val(), "_blank", 
    "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=300,width=800,height=500");
  })
  </script>
  {% endblock %}
  